<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center"> Crud App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <ion-input
      [(ngModel)]="item.value"
      class="item_input"
      placeholder="Enter Item"
    >
    </ion-input>
    <div class="ion-text-center">
      <ion-button
        class="ion-text-center ion-margin-top"
        color="warning"
        (click)="addItem()"
        >Add Item</ion-button
      >
    </div>
    <div
      class="center_div display_data ion-padding"
      *ngFor="let item of item$ | async"
    >
      <ion-input class="update_input" [(ngModel)]="item.value"></ion-input>
      <div class="button_div">
        <ion-button
          mode="ios"
          color="success"
          size="small"
          (click)="updateItem(item.id, item.value)"
          >Edit</ion-button
        >
        <ion-button
          mode="ios"
          size="small"
          color="danger"
          (click)="deleteItem(item.id)"
          >Delete</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
