<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center"> Crud App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <ion-input
      [(ngModel)]="item.value"
      class="item_input"
      placeholder="Enter Item"
    >
    </ion-input>
    <div class="ion-text-center">
      <ion-button
        class="ion-text-center ion-margin-top"
        color="warning"
        (click)="addData()"
        >Add Item</ion-button
      >
    </div>
    <div
      class="center_div display_data ion-padding"
      *ngFor="let item of itemArr; index as index"
    >
      <ion-label> {{item.value}} </ion-label>
      <div class="buttons">
        <ion-button
          color="danger"
          mode="ios"
          size="small"
          (click)="deleteItem(index)"
          >Delete</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
